<ion-header>

  <ion-navbar>
    <ion-title>Entrar</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form [formGroup]="signin" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div padding text-center>
      <button ion-button type="submit" [disabled]="!signin.valid">Entrar</button>
    </div>
  </form>
</ion-content>