<!--
  Generated template for the AulaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Aula</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item >
      <div text-center class="video-container">
          <iframe width="95%"  [src]="domSanitizer.bypassSecurityTrustResourceUrl(aula.video)" frameborder="0" allowfullscreen></iframe>
      </div>
    </ion-item>
    <p>{{ aula.ordem }} - {{ aula.titulo }} - {{ aula.tempo }} </p>
  </ion-card>
</ion-content>
