<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="signup" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirme senha</ion-label>
      <ion-input type="password" formControlName="password_confirmation"></ion-input>
    </ion-item>
    <div padding text-center>
      <button ion-button type="submit" [disabled]="!signup.valid">Cadastrar</button>
    </div>
  </form>
</ion-content>