<!--
  Generated template for the DetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="danger">Aulas</ion-item-divider>
    <button class="list-button" ion-item *ngFor="let aula of item.aulas" (click)="abreAula(aula)">
      {{ aula.ordem }} - {{aula.titulo}} - {{aula.tempo}}
    </button>
  </ion-item-group>

</ion-content>
